<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<title>${notice.noticeTitle}</title>
<style type="text/css">
	.title{font-size:1.3em;font-weight:bold}
	img,image{max-width:96%}
	p,h1,h2,h3,strong,li{font-size:1.1em}
</style>
</head>
<body  style="padding:10px">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td>
          <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <td  align="center" class='title'>${notice.noticeTitle}</td>
            </tr>
            <tr>
              <td height="40px" align="center">${notice.mark1}</td>
            </tr>
            <tr>
              <td valign="top" >${notice.noticeContent}</td>
            </tr>
          </table>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>