.add{background: url(../../img/icons/icon_add.png) no-repeat !important;}
.remove{background: url(../../img/icons/icon_delete.png) no-repeat !important;}
.edit{background: url(../../img/icons/icon_edit.png) no-repeat !important;}
.detail{background: url(../../img/icons/icon_detail.png) no-repeat !important;}
.reload{background: url(../../img/icons/icon_refresh.png) no-repeat !important;}
.nav{background: url(../../img/icons/icon_nav.png) no-repeat !important;}
.list{background: url(../../img/icons/icon_list.png) no-repeat !important;}
.expand{background: url(../../img/icons/icon_expand.png) no-repeat !important;}
.collapse{background: url(../../img/icons/icon_collapse.png) no-repeat !important;}
.close{background: url(../../img/icons/icon_close.png) no-repeat !important;}

.save{background: url(../../img/icons/icon_save.png) no-repeat !important;}
.cancel{background: url(../../img/icons/icon_cancel.png) no-repeat !important;}

.eye{background: url(../../img/icons/icon_look.png) no-repeat !important;}

.company{background: url(../../img/icons/flag_pink.png) no-repeat !important;}
.department{background: url(../../img/icons/icon_list.png) no-repeat !important;}

.employee{background: url(../../img/icons/user.png) no-repeat !important;}
.excel{background: url(../../img/icons/page_excel.png) no-repeat !important;}
.export{background: url(../../img/icons/application_put.png) no-repeat !important;}
.import{background: url(../../img/icons/application_get.png) no-repeat !important;}
.employee{background: url(../../img/icons/user.png) no-repeat !important;}

.rep{background: url(../../img/icons/icon_rep.png) no-repeat !important;}
.sale{background: url(../../img/icons/icon_sale.png) no-repeat !important;}

.left{background: url(../../img/icons/arrow_left.png) no-repeat !important;}
.right{background: url(../../img/icons/arrow_right.png) no-repeat !important;}

.tick{background: url(../../img/icons/tick.png) no-repeat !important;}

.all{background: url(../../img/icons/arrow_down.png) no-repeat !important;}

